:root{
/*Color Pallets*/
--color-primary:#F15025;
--color-primary-light:#F25F38;
--color-primary-dark:#DC4922;

--color-secondary:#E6E8E6;
--color-secondary-light:#ECEEEC;
--color-secondary-dark: #E8EAE8;

--color-tertiary:#CED0CE;
--color-tertiary-light:#DBDCDB;
--color-tertiary-dark:#D2D4D2;

--color-dark:rgb(53, 53, 56);
--color-dark-light:rgb(86, 86, 94);
--color-dark-dark:rgb(19, 19, 20);

/*Fonts*/
--default-font-size: 1.6rem;
}

html{
	font-size: 62.5%;
}

@media screen and (max-width: 900px) {
	html{
		font-size: 50%;
	}
}

@media screen and (max-width: 400px) {
	html{
		font-size: 40%;
	}
}

*, *::before, *::after{
	padding: 0rem;
	margin: 0rem;
	box-sizing: border-box;
}

body{
	text-align: center;
	background-color: var(--color-secondary-dark);
}

.container{
	text-align: center;
	display: inline-block;
	width: 95vw;
	height: auto;
	background-color: var(--color-secondary-dark);
}

.splash_page{
	text-align:center;
	height: 95vh;
	width: 95vw;
	display: inline-block;
	background-image: linear-gradient(
		to right bottom,
		rgba(242, 95, 56,.6) ,
		rgba(220, 73, 34, .3)) ,
	url("img/NYSkyline.jpg");
	transform: 50%,50%;
	background-position:center;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-clip-path: polygon(100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
	clip-path: polygon(100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
	/*display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;*/

}
.header_title{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	display: inline-block;
	position: center;
	/*margin-top: 15rem;*/
	margin-top: 10rem;
	font-size: 20rem;
	text-shadow: 1rem 1rem var(--color-secondary-light);
	/*-webkit-text-stroke: .01rem white;*/
}

@media screen and (max-width: 1200px){
	.header_title{
		pointer-events: none;
	}
}

.header_subtitle{
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	display: inline-block;
	position: center;
	font-size: 6rem;
	text-shadow: .5rem .5rem var(--color-secondary-light);
	/*-webkit-text-stroke: .1rem white;*/
}

@keyframes pulse{
	0%{
		font-size: 10vw;
	}
	50%{
		font-size: 12vw;
	}
	100%{
		font-size: 10vw;
	}
}

.header_title:hover{
	animation-name: pulse;
	animation-duration: 2s;
	animation-iteration-count: 1;
	backface-visibility: hidden;
}

@media screen and (max-width: 900px) {
	.header_title{
		pointer-events: none;
		font-size: 10rem;
	}
}

@keyframes drop{
	50%{
		margin-top: 3rem;
	}
	100%{
		margin-top: 0rem;
	}
}

.header_subtitle:hover{
	animation-name: drop;
	animation-duration: 1s;
	animation-iteration-count: 1;
	backface-visibility: hidden;
}

@media screen and (max-width: 1200px){
	.header_subtitle{
		pointer-events: none;
	}
}

.composition_header{
	font-size: 4rem;
	text-align: center;
	font-family: 'Permanent Marker', cursive;
	margin-left: 10vw;


}

.composition_image{
	height: 30rem;
	width: 30rem;
	overflow: hidden;
	position: relative;
	object-fit: cover;
	border-spacing: 2rem;
	border-width: .25rem;
	border-style: solid;
	border-color: var(--color-primary);
}

@media screen and (max-width: 900px){
	.composition_image{
		width: 20rem;
		height: 20rem;
		pointer-events: none;
	}
	.composition_image_cluster{
		pointer-events: none;
	}
}

.image_1{
	left: 13rem;
	top: -3rem;
}

.image_2{
	left: 10rem;
	top: 5rem;
}

.image_3{
	left: 0rem;
	top: -10rem;
}

@media only screen and (max-width: 1200px){
	.image_1{
	left: 0rem;
	top: 0rem;
	}

	.image_2{
	left: 0rem;
	top: -5rem;
	}

	.image_3{
	left: 0rem;
	top: -10rem;
	}

	.composition_image{
		transform: scale(.9);
	}
}

@media screen and (max-width: 1200px){
	.composition_image_cluster{
		display: flex;
		flex-direction: column;
		align-content: center;
		pointer-events: none;
	}
}

.composition_image:hover{
	z-index: 10;
	transform: scale(1.2);
	border-width: .5rem;
	border-style: solid;
	/*border-color: var(--color-primary);*/
	border-spacing: 5rem;
	border-collapse: separate;
	transition: all 1s;
}

.composition_image_cluster:hover .composition_image:not(:hover){
	transform: scale(.9);
	opacity: .3;
	transition: all 1s;
	border-width: .15rem;
	border-style: solid;
	/*border-color: var(--color-dark);*/
}

.col-1-of-2{
	width: calc((90vw)/2);
	margin-top: 15vh;
}

.composition_description{
	font-size: 2rem;
	text-align: left;
	margin-left: 10vw;
	font-family: 'Fahkwang', sans-serif;
}

@media screen and (max-width: 1200px){
	.composition_description{
		font-size: 1.5rem;
	}
	.mobile_overflow{
		/*display: none;*/
	}
	.composition_header{
		font-size: 4rem;
	}
}

@media screen and (max-width: 400px){
	.composition_description{
		font-size: 2rem;
	}
	.mobile_overflow{
		display: none;
	}
	.composition_header{
		font-size: 3.5rem;
	}
}

[class^="col"]{
	float: left;
}

/*.first_composition{
	width: 95vw;
	height: 90vh;
	background-color:var(--color-tertiary);
	-webkit-clip-path: polygon(50% 10%, 100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
	clip-path: polygon(50% 10%, 100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
	position: relative;
	/*top: -5rem;
	z-index: 2;
	box-shadow: 0 1.5rem 4rem rgba(0,0,0,11);
}*/

.row{
	height: 70vh;
	width: 95vw;

}

.composition_image_cluster{
	background-color: red;
	height: 0rem;
}

.content_break{
	height: 15vh;
	width: 95vw;
	/*background-color: var(--color-secondary-dark);*/
	background-color: purple;
	-webkit-clip-path: polygon(100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
	clip-path: polygon(100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
	/*position: relative;
	bottom: -5vh;*/
	z-index: -7;
}

.composition_cards{
	/*z-index: 2;
	width: 95vw;
	height: 100vh;*/
	display: flex; 
	justify-content: space-around;
	/*background-color:var(--color-tertiary);
	-webkit-clip-path: polygon(50% 10%, 100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
	clip-path: polygon(50% 10%, 100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
	box-shadow: 0 1.5rem 4rem rgba(0,0,0,11);*/
}

.composition_cards_row{
	display: flex; 
	justify-content: space-around;
	width: 100vw;
	height: 90vh;
}

.card{
	margin-top: 15vh;
	width: 15rem;
	height: 50rem;
	/*width: 20vw;
	height: 50vh;*/
	/*background-color: red;*/
	font-size: 2vh;
	position: relative;
	perspective: 150rem;
	-moz-perspective:150rem;
}

@media screen and (max-width:1200px){
	
	.composition_cards_row{
		display: flex;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
	}

	.card{
		pointer-events: none;
	}
}

.footer{
background-color: var(--color-tertiary);
width: 95vw;
height: 90vh;
-webkit-clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
clip-path: polygon(50% 10%, 100% 0, 100% 100%, 0 100%, 0 0);
}

.card-side{
	/*position: absolute;
	top: 0;
	left: 0;*/
	/*transition: all 1s;*/
	backface-visibility: hidden;
	width: 15vw;
	height: 50vh;
	box-shadow: 0 1.5rem 4rem rgba(220, 73, 34, 11);
	/*border-radius: 2rem;*/
}

.card-side-front{
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--color-tertiary-light);
	z-index: 1;
	transition: all 1s;
}

@media screen and (max-width: 1200px){
	.card-side-front{
		width: 90vw;
		height: 30vh;
	}
}

.card-side-back{
	position: absolute;
	top: 0;
	left: 0;
	transform: rotateY(-180deg);
	background-color: var(--color-tertiary-light);
	z-index: 0;
	transition: all 1s;
}

.card:hover .card-side-front{
	transform: rotateY(-180deg);
}

.card:hover .card-side-back{
	transform: rotateY(0deg);
}

.card-header{
	font-size: 5rem;
	font-family:'Permanent Marker', cursive;
	margin-bottom: 2vh; 
	background-color: var(--color-primary-light);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%); 
	height: 20vh;
	display: flex;
	justify-content: space-around;
	align-content: column;
	align-items: center;
	background-position: center;
	background-size: 15vw;
	background-repeat: no-repeat;
	background-size: cover;
}

@media screen and (max-width: 1200px){
	.card-header{
		height: 10vh;
	}
}

.card-content{
	font-size: 1.5rem;
	text-align: center;
	font-family: 'Fahkwang', sans-serif;
}

.media-links{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.icon{
	width: 20rem;
	height: 20rem;
/*	margin-left: 10vw;
	margin-right: 10vw;*/
	position: relative;
}

@media screen and (max-width: 900px){
	.icon{
		width: 15rem;
		height: 15rem;
	}
}

.icon-empty{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 35vh;
}

.icon-fill{
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 35vh;
	transform: scale(0);
}

.icon:hover .icon-fill{
	transform: scale(1);
	transition: 1s;
}

.icon:hover .icon-empty{
	transform: scale(0);
	transition: 1s;
}

.card-header-title{
	text-shadow: -1rem -1rem var(--color-primary-light),
	 1rem 1rem var(--color-primary-dark);
}

.card-map{
	width: 15vw;
	height: 50vh;
	opacity: 0;
}

.card-side:hover .card-map{
	opacity: 1;
}

.card-1{
	background-image: url(img/bg/PhiladelphiaSkyline.jpg);
}

.card-2{
	background-image: url(img/bg/NewYorkArial.jpg);
}

.card-3{
	background-image: url(img/bg/BostonSkyline.jpg);
}

.card-content-line{
	margin-bottom: 2vh;
}

.composition{ 
	width: 95vw;
	height: 90vh;
	background-color:var(--color-tertiary);
	-webkit-clip-path: polygon(50% 10%, 100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
	clip-path: polygon(50% 10%, 100% 0, 100% 80%, 50% 90%, 0 80%, 0 0);
	position: relative;
}

.composition_quote{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	align-items: center;
}

.composition_quote_block{
	margin-top: 14vh;
	background-color: var(--color-tertiary-light);
	height: 20vh;
	width: 70vw;
	box-shadow: 0 1.5rem 4rem rgba(220, 73, 34, 11);
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: 'Fahkwang', sans-serif;
	font-size: 1.9rem;
}

@media screen and (max-width: 1200px){
	.composition_quote_block{
		pointer-events: none;
	}
}

@media screen and (max-width: 900px){
	.composition_quote_block{
		font-size: 1.5rem;
	}
}

.composition_quote_block_image{
	height: 20vh;
	width: 20vh;
	-webkit-clip-path: circle(45% at 50% 50%);
	clip-path: circle(45% at 50% 50%);
}

.composition_quote_block_image:hover{
	filter: blur(1rem);
}

.big_quotes{
	font-size: 15rem;
	font-family: 'Sorts Mill Goudy', serif;
}

.composition_quote_block:hover{
	box-shadow: 0 2rem 4rem rgba(220, 73, 34, 11);
	transition: 1s;
}

.composition_quote_block_header{
	position: relative;
	text-align: center;
}

.composition_quote_block_image_name{
	position: absolute;
	top: 45%;
	left: 25%;
	opacity: 0;
}

.composition_quote_block_header:hover .composition_quote_block_image_name{
	opacity: 1;
	animation-name: shake;
	animation-duration: 1s;
	animation-iteration-count: 1;
	transition: 1s;
}

/*@keyframes shake{
	30%{
		transform: translateY(-.5rem);
	}
	60%{
		transform: translateY(1rem);
	}
	90%{
		transform: translateY(-.5rem);
	}
}*/

.navigation_checkbox{
	display: none;
}

.navigation_button{
	background-color: white;
	height: 7rem;
	width: 7rem;
	border-radius: 50%;
	position: fixed;
	top: 6rem;
	right: 6rem;
	z-index: 10000;
	box-shadow: 0 1rem 3rem rgba(0,0,0,0.5);
	text-align: center;
	cursor: pointer;
}

.navigation_icon{
	position: relative;
	margin-top: 3.5rem;
}

.navigation_icon::before, .navigation_icon::after{
	content: "";
}

.navigation_icon::before{
	position: absolute;
	top: -1rem;
	left: 0;
}

.navigation_icon::after{
	position: absolute;
	top: 1rem;
	left: 0;
}

.navigation_icon, .navigation_icon:before, .navigation_icon:after{
	width: 3rem;
	height: 2px;
	background-color: #333;
	display: inline-block;
	transition: all .2s;
}

.navigation_button:hover .navigation_icon::before{
	top: -1.2rem;
}

.navigation_button:hover .navigation_icon::after{
	top: 1.2rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before{
	transform: rotate(495deg);
	top: 0rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after{
	transform: rotate(-495deg);
	top: 0rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon{
	background-color: transparent;
}

.navigation_list{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	list-style: none;
	text-align: center;
	width: 100%;
}

.navigation_item{
	margin: 1rem;
}

.navigation_nav{
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -10;
	opacity: 0;
	width: 0%;
	transition: all .8s; 
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	/*display: none;*/

}

.navigation_background{
	height: 6rem;
	width: 6rem;
	border-radius: 50%;
	position: fixed;
	top: 6.5rem;
	right: 6.5rem;
	background-image: radial-gradient(
		#F15025,
		#DC4922);
	z-index: 30;
	transition: .8s;
	/*transform: scale(80);*/
}

.navigation_checkbox:checked~.navigation_background{
	transform: scale(80);
}

.navigation_checkbox:checked~.navigation_nav{
	/*display: initial;*/
	opacity: 1;
	z-index: 200;
	width: 100%;
}

.navigation_item{
	font-family: 'Permanent Marker', cursive;
	font-size: 5rem;
}

.navigation_link{
	text-decoration: none;
	color: black;
}

.navigation_link:hover{
	text-shadow: -1rem -1rem var(--color-primary-light),
	 1rem 1rem var(--color-primary-dark);
	 transition: 1s;
}

@media screen and (max-width: 1200px){
	.navigation_link{
		/*pointer-events: none;*/
	}
}

.composition_booking{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.composition_booking_button_front{
	background-color: var(--color-primary);
	width: 60vw;
	height: 35vh;
	border-radius: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20rem;
	font-family: 'Permanent Marker', cursive;
	/*text-shadow: -2rem -2rem var(--color-primary-light),
	 2rem 2rem var(--color-primary-dark);*/
	box-shadow: 0 1rem 3rem rgba(0,0,0,0.5);
	backface-visibility: hidden;
	z-index: 21;
	perspective: 150rem;
}

@media screen and (max-width: 900px){
	.composition_booking_button_front{
		font-size: 10rem;
		width: 40rem;
		height: 40rem;
	}
}

.composition_booking_button_front:hover{
	box-shadow: 0 2rem 4rem rgba(0,0,0,0.7);
	text-shadow: -2rem -2rem var(--color-primary-light),
	 2rem 2rem var(--color-primary-dark);
	-webkit-text-stroke: .1rem white;
	transform: scale(1.1);
	transition: 1s;
	cursor: pointer;
}

.composition_booking_button{
	border-radius: 3rem;
}

.booking_flip:hover{
	transform: rotateX(180deg);
	transition: 1s;
}

.bookingback_flip{
	transform: rotateX(0deg);
	transition: 1s;
}

.popup_image1{
	height: 90vh;
	width: auto;
	position: relative;
	left: 0;
	top: 0;
	opacity: 0;
	visibility: none;
	transform: scale(0);
}

.popup_image1:target{
	opacity: 1;
	transform: scale(1) translate(-50%, -50%);
	visibility: visible;
}

.popup_booking{
	/*width: 85vw;
	height: 85vh;
	position: fixed;
	top: 50%;
	left: 50%;
	background-color: red;
	display: none;
	z-index: -1;*/
	position: fixed;
	top: 0vh;
	left: 0vw;
	visibility: hidden;
	opacity: 0;
	position: center;
}

.popup_booking:target{
	visibility: visible;
	opacity: 1;
	background: rgba(0,0,0,0.5);
	width: 100vw;
	height: 100vh;
	border-radius: 0rem;
	z-index: 100000;
	/*transition: all .5s;*/
	display: flex;
	justify-content: center;
}

.popup_booking:target .popup_booking_content{
	height: 100%;
	width: 80vw;
	background-color: var(--color-secondary);
}

.popup_booking_link{
	text-decoration: none;
	color: black;
}

.popup_booking_close::before, .popup_booking_close::after{
	content: "";
	width: 5rem;
	height: 2px;
	background-color: black;
	display: inline-block;
	position: absolute;
	right: 15rem;
	top: 2rem;
}

.popup_booking_close::before{
	transform: rotate(45deg);
}

.popup_booking_close::after{
	transform: rotate(-45deg);
}

.popup_booking_content{
	display: flex;
	align-content: column;
	justify-content: space-around;
	padding: 2rem;
}

.popup_booking_content_column{
	background-color: var(--color-tertiary-dark);
	width: 30vw;
	height: 96vh;
	border-radius: 2rem;
}

.popup_booking_content_column{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.popup_booking_image{
	width: 30vw;
	height: 40vh;
	object-fit: cover;
	border-color: var(--color-primary);
	border-width: .25rem;
	border-style: solid;
}

.popup_booking_header{
	font-size: 5rem;
	font-family: 'Permanent Marker', cursive;
}

.popup_booking_button{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 30vw;
	height: 20vh;
	background-color: var(--color-primary);
	border-radius: 2rem;
	text-align: center;
	font-size: 4rem;
	font-family: 'Permanent Marker', cursive;
	box-shadow: 0 2rem 4rem rgba(0,0,0,0.7); 
}

.popup_booking_button:hover{
	box-shadow: 0 4rem 5rem rgba(0,0,0,0.7);
	transition: all 1s;
	text-shadow: -1rem -1rem var(--color-primary-light),
	 1rem 1rem var(--color-primary-dark);
}

.popup_booking_form_link{
	text-decoration: none;
	color: black;
	word-wrap: break-word;
}

.popup_booking_form{
	background-color: var(--color-tertiary);
	width: 85%;
	height: 85%;
}

/*.popup_booking_close_container{
	display: flex;
	justify-content: flex-end;
}*/

/*@media (max-width: 900px){
	.header_title{
		font-size: 15rem;
		pointer-events: none;
	}
	.header_subtitle{
		pointer-events: none;
		font-size: 5rem;
	}
}*/